@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="@*col-md-6*@ col-md-8">
        <img class="w-100" src="/img/bg-signin.jpg" alt="Alternate Text" />
    </div>
    <div class="@*col-md-6*@ col-md-4">
        <div class="card login-logout-tab h-100 border rounded">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section  Scripts{
    @await RenderSectionAsync("Scripts", required: false)

<script>
    $(function () {
        var current = this.location.pathname;
        $(".nav-tabs li a").each(function () {
            var _this = $(this);
            if (current.indexOf(_this.attr("href")) !== -1) {
                _this.addClass("active");
            }
        })
    })
</script>

}